.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 10;
}

.Home h1 {
  font-size: 9em;
  margin: 0;
}

.Home h2 {
  font-size: 3em;
  color: var(--blue-primary);
  margin: 0;
  font-weight: lighter;
}

@media screen and (max-width: 768px) {
  .Home h1 {
    font-size: 5em;
  }

  .Home h2 {
    font-size: 1.5em;
  }
}
