.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Home h1 {
  font-size: 9em;
  margin: 0;
}

.Home h2 {
  font-size: 3em;
  color: var(--blue-primary);
  margin: 0;
  font-weight: lighter;
}

.Home_btn {
  display: block;
  width: 50px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--blue-primary);
  margin-top: 2em;
}
