.Portfolio {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2em;
}

.Portfolio h2 {
  text-align: center;
}

.Portfolio__container_card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
