.Assets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100vmax;
  position: absolute;
  bottom: 0;
  z-index: 0;
}
.Assets__Lines {
  grid-area: 1/1;
  margin-left: 2em;
}

.Assets__Circle {
  grid-area: 1/1;
  justify-self: center;
}

.Assets__Plus {
  grid-area: 1/4;
  justify-self: center;
}

.Assets__Plus-red {
  grid-area: 1/4;
  justify-self: end;
}

.Assets__Point {
  grid-area: 2/4;
  justify-self: end;
}

@media screen and (max-width: 768px) {
  .Assets img {
    width: 50px;
  }

  .Assets__Point img {
    width: 100px;
  }
}

@media screen and (max-width: 375px) {
  .Assets {
    width: 100vw;
  }
}
